html, body			{ margin: 0; }
body				{ font-family: "Alegreya sans", sans-serif; 
				  font-weight: 400;
				  font-size: 13pt; }
h1, h2, h3			{ font-weight: 500; }
h1				{ font-size: 24pt; }
h2				{ font-size: 18pt; }
a				{ text-decoration: none; }
article[data-sblg-article]	{ width: 60%;
				  margin-left: auto;
				  margin-right: auto; }
aside				{ font-size: 16pt; }
pre, code			{ font-size: 12pt; }
nav				{ padding: 48pt 20% 12pt 20%; 
				  font-size: 15pt;
				  background-color: #aaa; }
nav#versions			{ background-color: inherit; 
				  padding: 12pt 20% 12pt 20%;
				  font-size: inherit; }
nav#versions ul			{ list-style-type: none;
				  padding: 0;
				  margin: 0; }
nav#versions li > div:last-child
				{ color: #444; }
				{ font-size: 15pt; }
nav#versions li > div:first-child
				{ font-size: 15pt; }
nav#versions li > div:first-child > p:last-child
				{ margin-bottom: 0.2em; }
nav a				{ color: blue; }
nav span			{ color: #444; }
footer				{ margin: 24pt 0;
				  font-size: 11pt;
				  text-align: center; }
nav[data-sblg-nav].cur 		{ display: inline-block; 
				  padding: 0; }
nav[data-sblg-nav].cur ul	{ display: inline-block;
				  list-style-type: none;
				  margin: 0;
				  padding: 0; }
nav[data-sblg-nav].cur li	{ display: inline-block;
				  margin: 0;
				  padding: 0; }
