html, body			{ margin: 0; }
body				{ font-family: "Alegreya sans", sans-serif; 
				  font-weight: 300;
				  font-size: 13pt; }
h1, h2, h3			{ font-weight: 500; }
h1				{ font-size: 24pt; }
h2				{ font-size: 18pt; }
a				{ text-decoration: none; }
strong, b			{ font-weight: 400; }
article				{ width: 60%;
				  margin-left: auto;
				  margin-right: auto; }
aside				{ font-size: 16pt; }
pre, code			{ font-size: 11pt; }
body > header			{ padding: 48pt 20% 12pt 20%; 
				  background-color: #333; 
			  	  color: #aaa; }
body > header a			{ color: #fff; }
body > header nav		{ display: inline-block; }
#breadcrumbs			{ padding: 2em 0 2em 0; 
				  font-size: 14pt; }
#version			{ font-size: 16pt; }
nav#versions > ul 		{ list-style-type: none;
				  padding: 0;
				  margin: 0; }
nav#versions > ul > li + li	{ margin-top: 1.5em; 
				  border-top: thin solid #ddd; }
nav#versions > ul > li > div.version
				{ color: #666; 
			  	  margin-top: 1em; }
nav a				{ color: blue; }
nav span			{ color: #444; }
footer				{ margin: 24pt 0;
				  font-size: 11pt;
				  text-align: center; }
nav[data-sblg-nav].cur 		{ display: inline-block; 
				  padding: 0; }
nav[data-sblg-nav].cur ul	{ display: inline-block;
				  list-style-type: none;
				  margin: 0;
				  padding: 0; }
nav[data-sblg-nav].cur li	{ display: inline-block;
				  margin: 0;
				  padding: 0; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
 body > header			{ padding: 24pt 2% 6pt 2%; }
 article			{ width: 96%; }
 #breadcrumbs			{ padding: 1em 0 1em 0; }
 h1				{ font-size: 18pt; }
}
