name: Regression Tests
on: [push]
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y bmake valgrind
    - name: Regress
      run: |
        ./configure
        rm -f Makefile.local
        bmake clean
        bmake regress
    - name: Regress with sanitiser
      run: |
        ./configure
        echo 'CFLAGS += -fsanitize=undefined,address -fomit-frame-pointer -O0' > Makefile.local
        echo 'LDFLAGS += -fsanitize=undefined,address -fomit-frame-pointer -O0' >> Makefile.local
        bmake clean
        bmake regress
    - name: Regress with valgrind
      run: |
        ./configure
        rm -f Makefile.local
        bmake clean
        bmake valgrind
    - name: Regress with shared
      run: |
        ./configure LINK_METHOD=shared
        rm -f Makefile.local
        bmake clean
        LD_LIBRARY_PATH="." bmake regress
